.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.app__container {
	align-items: center;
	/* margin-left: 30%; */
	width: 300px;
	height: 300px;
	border: 1px solid #000;
}

.app__input {
	margin-top: 10px;
}
